html{
    background-color: #ECDFCC ;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #697565;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* HEADER */
/* HEADER */

/* Container for centering the logo */
.logo {
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100vw; /* Full viewport width to center horizontally */
}

.logo-content p{
    margin-right: 55px;
}




#menuIcon{
    margin-bottom: 3px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px; /* Space between menu icon and search bar */
}


.sidenav {
    height: 100%; 
    width: 0;  /* Initially hidden with 0 width */
    position: fixed; /* Fixed in place while scrolling */
    z-index: 1; /* Places the sidenav above other content */
    top: 0; 
    left: 0; 
    background-color:  #ffffff;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    transition: 0.6s; /* Smooth transition for opening and closing */
    padding-top: 60px; /* Adds padding to the top of the sidenav */
}

/* Styling for links inside the sidenav */
.sidenav a {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 8px 8px 32px; /* Padding inside links */
    text-decoration: none; 
    font-size: 1rem; 
    color: #000000; 
    display: block; 
    transition: 0.3s; /* Smooth transition for hover */
}

/* Changes link color when hovered */
.sidenav a:hover {
    color: #ECDFCC; 
    background-color: #697565;
}

/* Close button inside the side navigation */
.sidenav .closebtn {
    position: absolute; /* Positions the close button relative to the sidenav */
    top: 0; 
    right: 25px; 
    font-size: 36px; 
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.sidenav .closebtn :hover{
    
    color: #f1f1f1;
}

#mySidenav .closebtn{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

/* When the side navigation is active (open) */
.sidenav.active {
    width: 250px; 
}




#searchIcon{
    margin-left: 40px;
}

/* Search Bar*/
#searchBarContainer {

    border-radius: 10px;
    position: absolute; /* Align next to the search icon */
    top: -55%; 
    left: 120%;
    overflow: hidden; /* Hide overflow content */
    transition: 0.3s; 
    background-color: #f9f9f9; 
    padding: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow  */
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
    width: 0; 
    opacity: 0; 
    visibility: hidden; /* Ensure the search bar is not interactable */
}

/* Search input field styling */
#searchInput {
    width:200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    font-size: 10px;
    margin-right: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
}

/* Search button styling */
#searchBarContainer button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 10px;
    cursor: pointer;
    border: none; 
    background-color: #333; 
    color: white; 
}

/* Active class for showing the search bar */
#searchBarContainer.active {
    width: 300px; 
    opacity: 1; 
    visibility: visible; 
}




/* Profile image icon styling */
.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/* Profile container */
.profile-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative; /* Position the dropdown relative to this container */
    display: inline-block; /* Keeps the profile container only as wide as its contents */
    font-size: 1rem;
}





/* Dropdown menu styling */
.dropdown-content {
    position: absolute; 
    right: 0; 
    top: 100%; 
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(-20px); 
    opacity: 0; 
    visibility: hidden; 
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition for transform, opacity, and visibility */
}

/* Styling for links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Changes background color of dropdown links when hovered */
.dropdown-content a:hover {
    background-color: #697565;
    transition: 0.3s;
}

/* Show dropdown when active */
.dropdown-content.show {
    transform: translateY(0); /* Move the dropdown */
    opacity: 1; 
    visibility: visible; 
}

/* END OF HEADER */
/* END OF HEADER */

/* FOOTER */
/* FOOTER */

/* Footer Section */
footer {
    background-color: #697565;
    color: white;
    padding: 40px 20px;
}

.social-media{
    margin-right: 100px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #ECDFCC;
  }

.footer-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-links ul {
    margin: 10px;
    list-style-type: none;
}

.footer-links ul a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul a:hover {
    color: #ECDFCC;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}


/* END OF FOOTER */
/* END OF FOOTER */





/* Banner Section */
.banner {
    margin-top: 0rem;
    background-color: #ddd;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content {
    position: relative; /* To ensure the image is positioned relative to the banner */
    overflow: hidden; /* This will clip any overflow of the image */
    height: 100%;
    width: 100%;
}

.banner-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
    z-index: 0; /* Keep the image behind the text */
}

#banner-text{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner-text h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    margin-top:5rem;
}

#banner-text p {
    font-size: 18px;
    margin: 20px;
    margin-left: 300px;
    margin-right: 300px;
}





/* Quote Section */
.quote-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.quote-box {
    width: 30%;
    background-color: #eee;
    padding: 20px;
    text-align: center;
    
}

.quote-img {
    background-color: #bbb;
    height: 500px;
    margin-bottom: 20px;

}

.quote-btn {
    border:none;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    cursor: pointer;

}




/* New Quote Section */
.quote {
    display: flex;
    justify-content: center;
    /* background-color: #bbb; */
    margin: 100px;
}

.quote-image-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 35rem; 
    width: 60rem;
    position: relative; 
}

.quote-image {
    position: absolute; 
    top: -50px; 
    left: 0; 
    height: auto;
    width: 100%; 
    object-fit: cover;
}

.quote-detail {
    margin: 80px;
}

.quote-detail h2 {
    font-size: 2rem;
}

.quote-detail .quote-btn1{
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    background-color: #697565;
    color: #fff;
    cursor: pointer;
}

.quote-detail .quote-btn1:hover{
    background-color:  white;
    color: #333;
}

