html{
    background-color: #ECDFCC ;
}

/* General Styles */
body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #697565;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}




/* HEADER */
/* HEADER */
.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-notification {
    display: flex;
}

.logo-notification .logo-content img{
    height: 80px;
    padding-left: 5px;
}

.logo-notification .notification {
    padding-right: 0;
}

.title {
    color: #ECDFCC
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container i{
    font-size:36px;
    padding-bottom: 10px;
}

.profile-container p{
    margin-top: 0px; color: #ECDFCC;
}

#logout-btn{
    border: none;
    height: 40px;
    width: 100px;
    background-color: #ECDFCC;

}








/* END OF HEADER */
/* END OF HEADER */

/* FOOTER */
/* FOOTER */

/* Footer Section */
footer {
    background-color: #697565;
    color: white;
    padding: 40px 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.social-media{
    margin-right: 100px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #ECDFCC;
}

.footer-links {
    font-family: questrial, sans-serif;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-links ul {
    margin: 10px;
    list-style-type: none;
}

.footer-links ul a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul a:hover {
    color: #ECDFCC;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}


/* END OF FOOTER */
/* END OF FOOTER */



/* MAIN CONTENT  */
/* MAIN CONTENT  */
/* MAIN CONTENT  */







.dashboard-container {
    display: flex;
    height: 100vh;
}

/* Navigation Bar */
.im-page-links{
    width: 250px;
    background-color: #2c3e50;
    padding-top: 40px;
}
.im-page-links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0px;
}
.im-page-links li {
    padding: 10px;
    text-align: left;
}
.im-page a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 8px 10px 32px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #e0e0e0;
    display: block;
    transition: 0.3s;
}
.im-page-links li a:hover {
    background-color: #34495e;
    padding-left: 20px;
    transition: 0.3s;
}



table {
    width: 1400px;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

thead {
    background-color: #f2f2f2;
}

tbody tr{
    background-color: white;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

th {
    background-color: #4CAF50;
    color: white;
}

tbody td {
    vertical-align: middle;
}

p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}


