h1{
    text-align: center;
}

p{
    font-size: 18px;
}

.card_details-container{
    font-family: Questrial, sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    height: 800px;
    padding: 10px 20px 10px 30px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
}
.card_details{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card_details input{
    height: 50px;
    width: 300px;
    font-family: Questrail, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border-color: black;
}


button{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    font-size: 18px;
    font-family: arial, sans-serif;
    color: white;
    padding: 2px;
    background-color: red;
    border: none;
    border-radius: 10px;
}

.order_details{
    border: 1px solid black;
    height: 200px;
    width: 400px;
    padding: 20px;
    font-family: Questrial, sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 30px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}
